@tailwind base;
@tailwind components;
@tailwind utilities;

/* FOR HIDE SCROLL BAR */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* SIDE BAR CORRECTIONs */

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: transparent !important;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: #399797 !important;
  color: #ffffff !important;
}

.ant-menu-title-content {
  color: #ffffff !important;
}

.ant-menu .ant-menu-submenu-arrow::before {
  background-color: #ffffff !important;

}

.ant-menu .ant-menu-submenu-arrow::after {
  background-color: #ffffff !important;
}

.ant-layout-sider-children {
  background-color: #4dafac !important;
}

/* LAYOUT CORRECTION */

.ant-layout {
  background-color: #ebf2f7 !important;
}

/* ANTD TABLE  */


/* Default hover color */
.default-hover-row:hover {
  background-color: rgba(173, 216, 230, 0.4) !important;
  /* Light blue */
  transition: background-color 0.3s ease-in-out !;
}

/* Special hover color for active rows */
.ant-table-wrapper .ant-table-tbody>.ant-table-row>.ant-table-cell-row-hover {
  background-color: #f4f7fc !important;
  color: #004d55;
  /* Orange */
}

/* SCROLL */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Sets the entire scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track background color */
  border-radius: 4px; /* Optional: makes the track more rounded */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0d5257; /* Scrollbar color */
  border-radius: 10px;
  width: 4px; /* This won't work, but you can create a visual effect */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #063c40;
}

/* ANTD SWITCH */

.ant-switch.ant-switch-checked {
  background-color: #399797 !important;
}