@tailwind base;
@tailwind components;
@tailwind utilities;

/* FOR HIDE SCROLL BAR */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* SIDE BAR CORRECTIONs */

.ant-menu-light .ant-menu-item-selected {
  background-color: #399797 !important;
  color: #ffffff !important;
}

.ant-menu-title-content {
  color: #ffffff !important;
}

.ant-menu .ant-menu-submenu-arrow::before {
  background-color: #ffffff !important;

}

.ant-menu .ant-menu-submenu-arrow::after {
  background-color: #ffffff !important;
}

.ant-layout-sider-children {
  background-color: #4dafac !important;
}

/* LAYOUT CORRECTION */

.ant-layout{
  background-color: #ebf2f7 !important;
}